<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Login</title>
<body style="background-color:white;">
<!--<div class="navigation">-->
<!--    <a href="/">Home</a>-->
<!--    <a class="active" href="/login" style="float:right">Login</a>-->
<!--    <a href="/registration" style="float:right">Register</a>-->
<!--    <a href="/contact">Contact</a>-->
<!--</div>-->
<center>
    <h1>Login</h1>
</center>
<h6 style="font-size:20px;color:green;text-align:center"><small><span th:text="${message}"></span></small></h6>
<form  action="/movies" method="post">
    <center>
        <div class="container" style="border:2px solid black;padding:50px;width:350px;background-color:lightgrey">
            <label style="font-size:125%">Username:</label>&nbsp;
            <input type="text" placeholder="Enter Username" name="userName" required><br/><br/>
            <label style="font-size:125%">Password:</label>&nbsp;
            <input type="password" placeholder="Enter Password" name="password" required><br/><br/>
            <input type="checkbox" checked="checked">Remember me &nbsp;
            <a href="#"> Forgot Password?</a><br/><br/>
            <button type="submit">Login</button>
            <button type="button" class="cancelButton" onclick="/">Cancel</button><br/><br/>
            Don't Have an Account?<a href="/register">Register Here</a>
        </div>
    </center>
</form>
</body>
</html>

